.current-weather-card {
  background-color: #0E1421;
  color: white;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.location {
  font-size: 1.5rem;
  background-color: #742BEC;
  color: #ffffff;
  width: fit-content;
  padding: 5px 30px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.date {
  margin-top: 40px;
}

.date h3 {
  font-size: 3rem;
  font-weight: 400;
}

.temp {
  margin-top: 20px;
}

.temp h3 {
  font-size: 3rem;
  font-weight: 400;
}
.temp p{

}

.weather-icon img {
  height: 150px;
}